extends layout


block content
  h1 You better "ECOgnize!"
  p.lead An image recognition service that uses multiple ecological APIs.
  hr
  .row
    .col-sm-4
      h3 ECOgnize encapsulates multiple image recognition services to better help conservationalists, researchers, and other fellow naturalists identify ecological data.


    .col-sm-8
      h2(style=" color: #FF5733") Identify Endangered Species in Your Area
          
    .col-sm-8
      h3 Each image in ECOgnize is matched against the IUCN's red list of threatened species.


   
    .col-sm-6
  
    img(src="/elephants.jpeg")

