extends layout


block content
  h1 You better "ECOgnize!"
  p.lead An image recognition service that uses multiple ecological APIs
  hr
  .row
    .col-sm-6
      h3 ECOgnize encapsulates multiple image recognition services to better help conservationalists, researchers, and other fellow naturalists identify ecological data.

      h2(style=" color: #FF5733") Identify Endangered Species in Your Area

      h3 Each image in ECOgnize is matched against the IUCN's red list of threatened species. Explore the world and help protect it 



    .col-sm-6
      img(src="/elephants.jpeg")


 

    
 

